<h3>Create a viewing party for <%= @movie.title %>.</h3>

<%= form_with url: parties_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :host_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :movie_title, value: @movie.title %>

  <%= f.label :length, 'Duration: ' %>
  <%= f.number_field :length, value: @movie.runtime, min: @movie.runtime, required: true %>

  <%= f.label :start_date, 'When: ' %>
  <%= f.date_field :start_date %>

  <%= f.label :start_time, 'Start time: ' %>
  <%= f.time_field :start_time %><br/>

  <%= f.label :friends, 'Invite your friends ' %>
  <%= f.collection_check_boxes :friends, current_user.friends, :id, :email %><br/>

  <%= f.submit 'Create Party' %>
<% end %>
