<h1>Welcome <%= current_user.user_name %>!</h1>

<%= button_to 'Discover Movies', discover_path %>

<section id="friends">
  <div>Friends:
    <br>
    <% if current_user.friends.length == 0 %>
      <%= 'You currently have no friends' %>
    <% else %>
      <ul>
        <% current_user.friends.each do |friend| %>
          <li><%= friend.user_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friends, "Friend's Email Address" %>
      <%= f.text_field :friends %>
      <%= f.submit 'Add Friend' %>
    <% end %>
  </div>
</section>
<br>

<section id="parties">
  <div class="viewing-parties">
    <h4>Your Viewing Parties: </h4>

    <% current_user.parties.each do |party| %>
  <% if party.host_id == current_user.id %>
      <p><%= link_to "#{party.movie_title}", movie_path(party.movie_id) %></p>
      <p><%= party.start_date.strftime('%B %e, %Y') %></p>
      <p><%= party.start_time.strftime('%I:%M %p') %></p>
      <p>Hosting</p>
      <p>Friends also watching: </p><br>
      <% party.viewers.each do |viewer| %>
        <p><%= viewer.user.user_name %></p>
      <% end %>
    <% end %>
  <% end %>

    <% current_user.parties.each do |party| %>
  <% if !party.host_id == current_user.id %>
      <p><%= link_to "#{party.movie_title}", movie_path(party.movie_id) %></p>
      <p><%= party.start_date.strftime('%B %e, %Y') %></p>
      <p><%= party.start_time.strftime('%I:%M %p') %></p>
      <p>Invited</p>
      <p>Friends also watching: </p><br>
      <% party.viewers.each do |viewer| %>
        <p><%= viewer.user.user_name %></p>
      <% end %>
    <% end %>
  <% end %>
  </div>
</section>









<!-- c -->
