<h1>Welcome <%= current_user.user_name %>!</h1>

<%= button_to 'Discover Movies', discover_path, method: :get %><br>

<section id="friends">
  <div>Friends:
    <br>
    <% if current_user.friends.length == 0 %>
      <%= 'You currently have no friends' %>
    <% else %>
      <ul>
        <% current_user.friends.each do |friend| %>
          <li><%= friend.user_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div><br>
  <div>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friends, "Friend's Email Address" %>
      <%= f.text_field :friends %>
      <%= f.submit 'Add Friend' %>
    <% end %>
  </div>
</section>
<br>

<section id="parties">
  <div class="viewing-parties">
    <h3>Your Viewing Parties: </h3>

    <h4>Parties you're hosting</h4>

    <% current_user.parties.each do |party| %>
  <% if party.host_id == current_user.id %>
      <p><%= link_to "#{party.movie_title}", movie_path(party.movie_id) %></p>
      <p><%= party.start_date.strftime('%B %e, %Y') %></p>
      <p><%= party.start_time.strftime('%I:%M %p') %></p>
      <p>Hosting</p>
      <p>Friends also watching: </p>
      <% party.viewers.each do |viewer| %>
        <ul>
          <p><%= viewer.user.user_name %></p>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  <p>------------------------------------------------</p>
  <h4>Parties you're invited to</h4>

  <% if current_user.viewers != nil %>
    <% current_user.viewers.each do |viewer| %>
      <p><%= link_to "#{viewer.party.movie_title}", movie_path(viewer.party.movie_id) %></p>
      <p><%= viewer.party.start_date.strftime('%B %e, %Y') %></p>
      <p><%= viewer.party.start_time.strftime('%I:%M %p') %></p>
      <p>Invited</p>
      <p>Hosted by <%= viewer.party.host.user_name %></p>
      <p>People watching: </p>
      <p><% viewer.party.viewers.each do |viewer| %></p>
        <ul>
          <p><%= viewer.user.user_name %></p>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  </div>
</section>

<p><%= link_to 'Log out', '/logout', method: :delete %></p>
