<% if !params[:search] %>
  <h3>Welcome <%= "#{current_user.user_name}" %>!</h3>

  <%= form_with url: movies_path, method: :get, local: true do |f| %>
    <%= f.label :search, "Search by movie title: " %>
    <%= f.text_field :search %>

    <%= f.submit 'Find Movies' %>
  <% end %><br>

  <div class="top-rated-movies">
    <% @movies.each do |movie| %>
        <ol>
          # need to pass movie ID when you add path to link
          <%= link_to "#{movie[:title]}" %>, <%= movie[:vote_average] %>
        </ol>
    <% end %>
  </div>
<% elsif params[:search] %>
  <h3>Welcome <%= "#{current_user.user_name}" %>!</h3>

  <p><%= button_to "Find Top Rated Movies", movies_path %></p><br>

  <div class=search_results>
    <% @results.each do |result| %>
      <ul>
        <li><%= link_to "#{result[:title]}" %> Vote Average: <%= result[:vote_average] %></li>
      </ul>
    <% end %>
  </div>
<% end %>
