<h3>Welcome <%= "#{current_user.user_name}" %>!</h3>

<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.label :search, "Search by movie title: " %>
  <%= f.text_field :search %>

  <%= f.submit 'Find Movies' %>
<% end %><br>

<div class="top-rated-movies">
  <% @movies.each do |movie| %>
      <ol>
        # need to pass movie ID when you add path to link
        <%= link_to "#{movie[:title]}" %>, <%= movie[:vote_average] %>
      </ol>
  <% end %>
</div>
